.admin-panel-container {
  background-color: orangered;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.admin-panel-container a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}